{% load i18n %}
{% if user.is_authenticated %}
<div id="head">
    <nav>
        <ul>
            <li><a href="/" class="main">DjangoBytes</a></li>
            {% if board %}
                <li><a href="#" >{% blocktrans %}Torrents{% endblocktrans %}</a></li>
                <li><a href="#" >{% blocktrans %}Forums{% endblocktrans %}</a></li>
                <li><a href="#" >{% blocktrans %}Members{% endblocktrans %}</a></li>
                <li><a href="#" >{% blocktrans %}Wiki{% endblocktrans %}</a></li>
            {% endif %}
        </ul>
        <ul id="login">
              <li><a href="{% url board:logout %}">{% blocktrans %}Logout{% endblocktrans %}</a></li>
        </ul>
    </nav>
</div>
{% endif %}
