{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}{% blocktrans %}Setup{% endblocktrans%}{% endblock %}

{% block content %}

    <div id="setupform_outer">
        <div id="setupform">
            <div id="setupform_inner">
                <h1>{% trans 'Initial Setup' %}</h1>
                {% if forms_errors %}
                <div class="error">
                    <b>{% blocktrans %}Error{% endblocktrans %}</b>
                    <p>{% blocktrans %}Can't create new user. Check the highlighted fields.{% endblocktrans %}</p>
                </div>
                {% endif %}
                <form method="post" class="section" action="{% url 'board:config_setup' %}">
                    {% csrf_token %}
                    <table>
                        {% for field in user_form %}
                            <tr>
                                <th>{{ field.label }}
                                {% if field.help_text %}
                                    <br /><span class="helptext">{{ field.help_text }}</span></th>
                                {% endif %}
                                <td>
                                    <div class="field{% if field.errors %} field_error{% endif %}">
                                      {{ field }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for field in profile_form %}
                            <tr>
                                <th>{{ field.label }}
                                {% if field.help_text %}
                                    <br /><span class="helptext">{{ field.help_text }}</span></th>
                                {% endif %}
                                <td>
                                    <div class="field{% if field.errors %} field_error{% endif %}">
                                      {{ field }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <p class="submit"><input type="submit" id="submit" value="{% blocktrans %}create{% endblocktrans %}" /></p>
                </form>
              </div>
        </div>
    </div>
{% endblock %}
