/*
 * Topbar
 */
.topbar {
    position: static;
    border-bottom: 2px solid #9ED54C;
}

/*
 * Content
 */
.content {
    margin-top: 10px;
}

    /*
     * Content -> Typography
     */

    .content h1 {
        padding: 15px 0;
        font-size: 16pt;
        text-align: center;
        width: 100%;
        font-weight: normal;
        margin: auto;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        color: #1D1D1D;
    }

    .error input, .error textarea {
      color: #b94a48;
      border-color: #ee5f5b;
    }

    .error input:focus, .error textarea:focus {
      border-color: #e9322d;
      -webkit-box-shadow: 0 0 6px #f8b9b7;
      -moz-box-shadow: 0 0 6px #f8b9b7;
      box-shadow: 0 0 6px #f8b9b7;
    }

/*
 * Form -> Table
 */

.table_noborder {
    border: 0;
}
