
html, body {
    height: 100%;
    overflow-y: hidden;
    font-family: Helvetica;
}

#setupform_outer {
    width: 100%;
    height: 100%;
    background-color: #181818;
}

#setupform {
    width: 100%;
    height: 88%;
    position: relative;
    top: 6%;
    background-color: #343434;
}

#setupform_inner {
    width: 960px;
    color: #FBFBFB;
    overflow: auto;
    background-color: #343434;
    padding: 0;
    margin: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

    #setupform_inner h1 {
        margin: 0;
        padding: 15px 0;
        font-size: 16pt;
        text-align: center;
        width: 100%;
        font-weight: normal;
        margin: auto;
        color: #FEFEFE;
    }
    
        #setupform_inner form {
            padding: 0 20px 30px 20px;
        }
        
            #setupform_inner form th {
                text-align: left;
                font-weight: normal;
                width: 50%;
                padding: 15px 20px 15px 0;
            }
            
            #setupform_inner form td ul.errorlist li {
                list-style-type: none;
                color: #99173D;
            }   

                #setupform_inner form span.helptext {
                    color: #888;
                    font-size: 10pt;
                }
    
                #setupform_inner input {
                    border: none;
                    display: block;
                    float: right;
                    width: 90%;
                    color: #BEBEBE;
                    background-color: #242424;
                }

                #setupform_inner input:focus {
                    background-color: #342424;
                    outline: none;
                }

                #setupform_inner input:hover {
                    outline: none;
                }

                #setupform_inner .field_error input {
                    background-color: #342424; 
                }
        
            #setupform_inner form p.submit {
                text-align: center;
                width: 600px;
                margin: auto;
                height: 40px;
                line-height: 40px;
            }
    
            #setupform_inner #submit {
                border: none;
                width: 100%;
                color: #BEBEBE;
                background-color: #242424;
                font-size: 16px;
            }
            
            #setupform_inner form p.confirm {
                padding-top: 20px;
            }
        
        #setupform_inner table {
            margin: 30px 30px 30px 30px;
        }
        
        #setupform_inner table.lists {
            width: 820px;
            background-color: #eee;
            margin: 30px 40px 60px 40px;
        }

            #setupform_inner table.lists th {
                text-align: left;
                padding: 5px;
                padding-left: 20px;
                border-bottom: 1px solid #ccc;
            }
        
            #setupform_inner table.lists td {
                padding: 5px;
                padding-left: 20px;
            }
            
                #setupform_inner table.lists td a {
                    color: #99173D;
                    text-decoration: none;
                }
                
                    #setupform_inner table.lists td a:hover {
                        text-decoration: underline;
                    }

#loginform_outer {
    width: 100%;
    height: 100%;
    background-color: #181818;
}

#loginform {
    width: 100%;
    height: 88%;
    position: relative;
    top: 6%;
    background-color: #343434;
}

    #loginform_inner {
        color: #BEBEBE;
        width: 300px;
        height: 300px;
        margin: auto;
        position: relative;
        top: 40%;
    }

    #loginform_inner #submit {
        border: none;
        width: 100%;
        color: #BEBEBE;
        background-color: #242424;
        font-size: 16px;
        visibility: hidden;
    }

    #loginform_inner #id_username {
        border: none;
        color: #BEBEBE;
        display: block;
        float: right;
        width: 90%;
        background-color: #242424;
    }

    #loginform_inner #id_username:focus {
        background-color: #342424;
        outline: none;
    }
    
    #loginform_inner #id_username:hover {
        outline: none;
    }

    #loginform_inner #id_password {
        border: none;
        color: #BEBEBE;
        display: block;
        float: right;
        width: 90%;
        background-color: #242424;
    }

    #loginform_inner #id_password:focus {
        background-color: #342424;
        outline: none;
    }
    
    #loginform_inner #id_password:hover {
        outline: none;
    }
