/* ==|== primary styles ===================================================== */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow-y: hidden;
    font-family: Helvetica;
}

/**
 * Navigation
 */

#head {
    width: 100%;
    height: 35px;
    background-color:#1D1D1D;
    border-bottom: 2px solid #9ED54C;
}

nav {
    width: 960px;
    height: 35px;
    margin: auto;
}

    nav ul#login {
        float: right;
    }
    
        nav ul li a {
            color: #BEBEBE;
            text-decoration: none;
            line-height: 35px;
            font-size: 12pt;
            float: left;
            padding: 0 10px;
        }

        nav ul li a:visited {
            color: #BEBEBE;
        }
        nav ul li a:hover {
            color: #FEFEFE;
        }
        
        nav ul li a.main {
            color: #FEFEFE;
            font-size: 14pt;
            padding: 0 20px;
            margin-left: -20px;
        }
        
        nav ul li a.main:hover {
            background-color: transparent;
        }   

        nav ul li a.active {
            color: #FEFEFE;
        }

#main {
    width: 960px;
    padding-top: 10px;
    margin: auto;
}
