* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow-y: hidden;
    font-family: Helvetica;
}

/**
 * Navigation
 */

#head {
    width: 100%;
    height: 35px;
    background-color:#1D1D1D;
    border-bottom: 2px solid #9ED54C;
}

nav {
    width: 960px;
    height: 35px;
    margin: auto;
}

    nav ul#login {
        float: right;
    }
    
        nav ul li a {
            color: #BEBEBE;
            text-decoration: none;
            line-height: 35px;
            font-size: 12pt;
            float: left;
            padding: 0 10px;
        }

        nav ul li a:visited {
            color: #BEBEBE;
        }
        nav ul li a:hover {
            color: #FEFEFE;
        }
        
        nav ul li a.main {
            color: #FEFEFE;
            font-size: 14pt;
            padding: 0 20px;
            margin-left: -20px;
        }
        
        nav ul li a.main:hover {
            background-color: transparent;
        }   

        nav ul li a.active {
            color: #FEFEFE;
        }

#main {
    width: 960px;
    padding-top: 10px;
    margin: auto;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 65px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 12px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.info {
    color: #00529B;
    background-color: #E1EEF7;
    background-image: url('/static/djangobytes/img/icons/info.png');
}
.success {
    color: #4F8A10;
    background-color: #ECF7E1;
    background-image:url('/static/djangobytes/img/icons/success.png');
}
.warning {
    color: #9F6000;
    background-color: #F7EAE1;
    background-image: url('/static/djangobytes/img/icons/warning.png');
}
.error {
    color: #D8000C;
    background-color: #F7E4E1;
    background-image: url('/static/djangobytes/img/icons/error.png');
}

    #settings h1 {
        margin: 0;
        padding: 15px 0;
        font-size: 16pt;
        text-align: center;
        width: 100%;
        font-weight: normal;
        width: 900px;
        margin: auto;
    }
