{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}{% blocktrans %}Administration{% endblocktrans%}{% endblock %}

{% block content %}
    {% include "includes/nav.html" with board=1 %}

    <div id="main">
        <div id="form1">
            <h1>{% trans 'Create a new user' %}</h1>
            {% if forms_errors %}
            <div class="error">
                <b>{% blocktrans %}Error{% endblocktrans %}</b>
                <p>{% blocktrans %}Can't create new user. Check the highlighted fields.{% endblocktrans %}</p>
            </div>
            {% endif %}
            <form method="post" class="section" action="{% url board:config_settings_new_user %}">
                {% csrf_token %}
                <table>
                    {% for field in user_form %}
                        <tr>
                            <th>{{ field.label }}
                            {% if field.help_text %}
                                <br /><span class="helptext">{{ field.help_text }}</span></th>
                            {% endif %}
                            <td>
                                <div class="field{% if field.errors %} field_error{% endif %}">
                                  {{ field }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for field in profile_form %}
                        <tr>
                            <th>{{ field.label }}
                            {% if field.help_text %}
                                <br /><span class="helptext">{{ field.help_text }}</span></th>
                            {% endif %}
                            <td>
                                <div class="field{% if field.errors %} field_error{% endif %}">
                                  {{ field }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <p class="submit"><input type="submit" id="submit" value="{% blocktrans %}create{% endblocktrans %}" /></p>
            </form>
        </div>
    </div>
{% endblock %}
