<!doctype html>
{% load i18n %}
<head>
    <meta charset="utf-8" />
    <title>{% block page_title %}{% trans "DjangoBytes" %}{% endblock %}</title>
    
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />
    
    {# TODO: <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" /> #}
    {% if user.is_authenticated %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}djangobytes/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}djangobytes/css/style.css" />
    {% block css %}{% endblock %}
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}djangobytes/css/login.css" />
    {% endif %}
    <script src="{{ STATIC_URL }}djangobytes/js/libs/modernizr-2.0.6.min.js"></script>
</head>

<body class="{% block body_class %}{% endblock %}">
{% block body %}
    {% block content %}{% endblock %}
    {% block javascript_library %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}djangobytes/js/libs/jquery-1.6.2.min.js"><\/script>')</script>
    <script defer src="{{ STATIC_URL }}djangobytes/js/plugins.js"></script>
    <script defer src="{{ STATIC_URL }}djangobytes/js/script.js"></script>

    {% endblock %}
    {% block javascript %}{% endblock %}

{% endblock %}
</body>
</html>
