{% extends "base.html" %}
{% load i18n %}
{% block page_title %}{% blocktrans %}Administration{% endblocktrans%}{% endblock %}

{% block content %}
    {% include "includes/nav.html" with board=1 %}
    <div class="container">
        <div class="content">
            <h1>{% trans 'Administration' %}</h1>
            <p>{% blocktrans %}The system can be managed through this interface.
            Be sure of what you change. The stability of the system can be significantly affected.
            Read the documentation before you play around.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}
